<a href="https://colab.research.google.com/github/daniela2001-png/IA/blob/develop/actividad_dos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 02 - Búsqueda y sistemas basados en reglas


*Para esta actividad usaremos el dataset con periodo* **2022**

In [87]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [88]:
# get data from a remote csv

# As fisrt step we set the separator by ";" instead of the default value "," also we define the encoding type as "latin-1"
df = pd.read_csv("https://raw.githubusercontent.com/julihdez36/Inteligencia_artificial/main/Forbes%202000%202022.csv", encoding="latin-1", sep=";")

In [89]:
# Checks the shape for this dataframe (df) and gets the columns
print(df.shape)
print(df.columns)

(2000, 8)
Index(['ï»¿Rank', 'Company Name', 'Country', 'Sales\n($millions)',
       'Profits\n($millions)', 'Assets\n($millions)',
       'Market Value \nAs of 05/12/22 ($m)', 'Unnamed: 7'],
      dtype='object')

In [91]:
df.sample(6)

,ï»¿Rank,Company Name,Country,Sales\n($millions),Profits\n($millions),Assets\n($millions),Market Value \nAs of 05/12/22 ($m),Unnamed: 7
735,736,Coinbase,United States,"$7,840","$3,150","$21,270","$28,640",NaN
377,378,State Street,United States,"$11,540","$2,780","$322,350","$26,040",NaN
1837,1838,Beijing Oriental Yuhong Waterproof Technology,China,"$4,920",$652,"$7,800","$16,720",NaN
74,75,BHP Group,Australia,"$65,550","$16,920","$105,720","$178,070",NaN
319,320,Sumitomo,Japan,"$48,220","$2,690","$77,800","$20,280",NaN
1025,1026,BÃ¢loise Group,Switzerland,"$11,060",$644,"$97,850","$8,190",NaN

In [96]:
# As second step we're gonna rename  each column
df.columns = ["Rank", "Company_Name", "Country", "Sales", "Profits", "Assets", "Market_Value", "Unnamed"]

In [97]:
# Verify how many nan's we have into the "Unnamed" column
df["Unnamed"].isna().sum()

2000

In [98]:
# Here we can validate that the unique value that can be have this column will be of type NaN
df["Unnamed"].unique()

array([nan])

In [99]:
# As we got that the "Unnamed" column has all its records with NaN values, we can delete it
# because this column does not have any relevant information for the given dataset
df = df.drop(columns=['Unnamed'])

In [100]:
# we obtain relevant information about the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          2000 non-null   int64
 1   Company_Name  2000 non-null   object
 2   Country       2000 non-null   object
 3   Sales         2000 non-null   object
 4   Profits       2000 non-null   object
 5   Assets        2000 non-null   object
 6   Market_Value  2000 non-null   object
dtypes: int64(1), object(6)
memory usage: 109.5+ KB

In [101]:
# We get some random records from df
df.sample(n=10)

,Rank,Company_Name,Country,Sales,Profits,Assets,Market_Value
682,683,Riyad Bank,Saudi Arabia,"$3,230","$1,610","$86,760","$31,760"
456,457,Corteva,United States,"$15,650","$1,760","$42,340","$41,920"
330,331,Nippon Steel,Japan,"$57,540","$5,450","$74,590","$14,920"
1717,1718,Emera,Canada,"$4,710",$447,"$27,110","$13,130"
977,978,China International Marine,China,"$25,300","$1,030","$24,210","$5,480"
1470,1471,Charoen Pokphand Foods,Thailand,"$16,010",$388,"$25,230","$5,920"
1105,1106,China Aoyuan Group,China,"$10,860",$838,"$48,930",$446
744,745,Telkom Indonesia,Indonesia,"$10,020","$1,730","$19,450","$31,880"
1430,1431,Henry Schein,United States,"$12,400",$624,"$8,480","$12,050"
1980,1981,WT Microelectronics,Taiwan,"$16,040",$284,"$6,270","$1,980"

In [102]:
# As we can see the columns ["Sales", "Profits", "Assets", "Market_Value"] has "object" as datum type
# This is a problem if we want to do some arithmetic operations
# For this reason we will do conversion/parsing between data types (clean data)

# Here we replace each "," & "$" by ""
df = df.replace(to_replace=[",", "\$"], value="", regex=True)

In [103]:
df.sample(3)

,Rank,Company_Name,Country,Sales,Profits,Assets,Market_Value
1997,1998,Sichuan Changhong Electric,China,15720,53,12110,1960
1676,1677,Sunny Optical Technology Group,China,5810,773,6080,15150
659,660,First Republic Bank,United States,5530,1540,187120,28210

In [104]:
# Now we are gonna change the datum type from object to float
df["Sales"] = df["Sales"].astype(float)
df["Profits"] = df["Profits"].astype(float)
df["Assets"] = df["Assets"].astype(float)
df["Market_Value"] = df["Market_Value"].astype(float)

In [105]:
# With the attribute dtypes we can check the new data types for our df
df.dtypes

Rank              int64
Company_Name     object
Country          object
Sales           float64
Profits         float64
Assets          float64
Market_Value    float64
dtype: object

In [106]:
# Finally we can say that our dataframe is ready to be treated  by a ML model